.container {
  display: flex;
  height: 100vh;
  background-color: #f9fbfc;
}

.image-section {
  width: 40%;
  background: url("./assets/img/bg.png") center/cover no-repeat;
  color: white;
  padding: 40px 80px 50px 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 0px 8px 8px 0px;
}

.content-container h1 {
  margin-bottom: 1rem;
  line-height: 2.5rem;
  font-weight: 600;
}

.form-section {
  width: 50%;
  margin: 60px auto;
  padding-left: 6%;
  padding-right: 6%;
  overflow-y: auto;
}

.form-section h2 {
  text-align: center;
}

.form-section p {
  font-size: 1rem;
  text-align: center;
  color: #858585;
}

.main-form {
  margin-top: 1.5rem;
  padding-bottom: 2rem;
}

.checkbox {
  display: flex;
  align-items: center;
}

.testimonial {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
  color: white;
  margin-top: 38px;
}

.testimonial .phrase {
  font-weight: 300;
  font-style: italic;
  font-size: .8rem;
}

.testimonial-info {
  display: flex;
  margin-top: 20px;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 12px;
}

.role {
  font-size: .8rem;
}

@media (max-width: 1000px) {
  .form-section {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 36px auto;
  }

  .image-section {
    display: none;
  }
}

.confirmation {
  /* width: 100%; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.confirmation p {
  color: #464646;
  margin: 8px auto;
}

.error-message {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 5rem;
}

.contact .icon {
  color: #ff8214;
  font-size: 1.5rem;
}

.contact p {
  font-size: .9rem;
  /* font-style: italic; */
}

.logo-mobile {
  display: none;
}

.icons-mobile {
  display: none;
}

@media (max-width: 1000px) {
  .form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #f9fbfc;
    height: auto;
  }

  .logo-mobile {
    display: block;
    margin-bottom: 3rem;
    text-align: center;
  }

  .icons-mobile {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .icon {
    color: #ff8214;
    font-size: 1.5rem;
  }
}

@media (max-width: 520px) {
  select {
    font-size: .8rem;
  }
}